{{set . "title" "Home"}}
<!DOCTYPE html>

<html>
<head>
	<title>{{.title}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/public/css/bootstrap-3.3.6.min.css">
	<link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
	<script src="/public/js/jquery-2.2.4.min.js"></script>
	<script src="/public/js/bootstrap-3.3.6.min.js"></script>
	{{range .moreStyles}}
		<link rel="stylesheet" type="text/css" href="/public/{{.}}">
	{{end}}
	{{range .moreScripts}}
		<script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
	{{end}}
	<style>

		#background {
			position: relative;
			width: 100vw;
			height: 100vh;
		}

		#background > img {
			z-index: -1;
			top: 0;
			left: 0;
			position: absolute;
			width: 100%;
			height: 100%;
		}

		#form-place {
			top: 10%;
			left: 35%;
			z-index: 100;
			position: absolute;
		}

	</style>

</head>
<body>

<div id="background">
	<img src="/public/img/ships.jpg">
	<div id="form-place"></div>
</div>

</body>
</html>
